.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-navlink {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink1 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
















@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-navlink {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.taller-de-matemticas-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.taller-de-matemticas-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}
.taller-de-matemticas-navlink {
  display: contents;
}
.taller-de-matemticas-image {
  width: 249px;
  height: 116px;
  text-decoration: none;
}
.taller-de-matemticas-separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  background-color: var(--dl-color-gray-900);
}
.taller-de-matemticas-accordion-header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.taller-de-matemticas-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.taller-de-matemticas-accordion-content {
  display: flex;
  overflow: hidden;
  max-height: 0;
  transition: 0.3s ease-in-out;
  align-items: center;
  flex-direction: column;
}
.taller-de-matemticas-nav1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.taller-de-matemticas-link {
  display: contents;
}
.taller-de-matemticas-image1 {
  top: 35px;
  left: 75px;
  width: 108px;
  height: 105px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.taller-de-matemticas-link1 {
  display: contents;
}
.taller-de-matemticas-image2 {
  top: 35px;
  right: 75px;
  width: 93px;
  height: 93px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.taller-de-matemticas-text {
  height: 37px;
}
.taller-de-matemticas-container1 {
  flex: 0 0 auto;
  width: 480px;
  height: 100px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.taller-de-matemticas-text1 {
  top: 15px;
  left: 0px;
  right: 0px;
  margin: auto;
  position: absolute;
  align-self: center;
  text-align: center;
}
.taller-de-matemticas-navlink1 {
  top: 40px;
  flex: 1;
  left: 0px;
  right: 0px;
  width: 405px;
  margin: auto;
  position: absolute;
  text-align: center;
  text-decoration: none;
}
@media(max-width: 991px) {
  .taller-de-matemticas-nav1 {
    padding-top: 16px;
  }
}
@media(max-width: 767px) {
  .taller-de-matemticas-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .taller-de-matemticas-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .taller-de-matemticas-nav {
    display: none;
  }
  .taller-de-matemticas-icon {
    display: flex;
  }
}
@media(max-width: 479px) {
  .taller-de-matemticas-header {
    padding: var(--dl-space-space-unit);
  }
  .taller-de-matemticas-separator {
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
}
